<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>{{update.name}}</h1>
    <form method="post">
    {{ forms.csrf_token }} 
        <p>{{ forms.seats.label }} {{ forms.seats() }}</p> 
        <p>{{ forms.has_toilet() }} {{ forms.has_toilet.label }}</p> 
        <p>{{ forms.has_wifi() }} {{ forms.has_wifi.label }}</p> 
        <p>{{ forms.has_sockets() }} {{ forms.has_sockets.label }}</p> 
        <p>{{ forms.can_take_calls() }} {{ forms.can_take_calls.label }}</p> 
        <p>{{ forms.coffee_price.label }} {{ forms.coffee_price() }}</p> 
        <p>{{ forms.submit() }}</p>
    </form>
    
</body>
</html>