{%include "header.html"%}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/assets/img/dev.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="250" height="250" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">SHREE NATHISH</h1>
        <p class="lead">I have learned everything from udemy,it was like 100 days course and during the course or end of the session they have given some set of problem to solve or project if you are in advanced level. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"><a href="{{ url_for('project') }}">Project</a></button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">None</button>
        </div>
      </div>
    </div>
  </div>

{%include "footer.html"%}